body {
    font-family: Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: black;
    color: white;
}
.soon{
  color: aquamarine;
  font-size: 16px
}
video {
    object-fit: contain;
}
