body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
h1 {
font-size: 50px;
}
.soon{
  color: aquamarine;
  font-size: 16px
}
video {
    object-fit: contain;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
h3 {
  font-size: 21px;
  color: gray;
}
.footer{
  text-align: right;
  font-size: 21px;
  color: gray
}
